@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Arbutus Slab', serif;

}

body {
  background-color: blue;
}

html {
  scroll-behavior: smooth;
}
/* navigation */
nav {
  width: 100%;
  display: flex;
}

nav h1 {
  display: inline-block;
}

.hideOnMobile {
  display: none;
}

/* Main section */
.mainSection {
  width: 100%;
  text-align: center;
  margin: 20em 0;
}



img {
  /* max-width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  height: 50em;
  left: 0;
  width: 80% */
}

.mainSection button, .aboutMe button {
  width: 25%;
  border-radius: 20px;
  background-color: #93BA65;
  color: white;
  padding: 10px 5px;
  transition: .5s;
}

.mainSection div.layer button:nth-child(3) {
  margin-right: 35px;
  margin-top: 10px;
}

.mainSection button:hover, .aboutMe button:hover {
  background-color: #51633c;
}

i.chevron {
  padding-top: 110px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  to {
    transform: translateY(0px);
  }

  from {
    transform: translateY(20px);
  }
}

/* What i do section (services) */
.services {
  text-align: center;
  margin: auto;
  width: 80%;
}

.services h1 {
  margin-bottom: 50px;
}

.services li {
  border-bottom: 1px solid #F0F0F0;
  list-style-type: none;
}

.services ul li {
  display: flex;
  margin: 20px 0;
  text-align: left;
  padding: 20px;
  transition: .5s
}

.services ul li:hover {
  box-shadow: 0px 0px 18px #E6E6E6;
}

.services ul li div {
  margin-left: 20px;
}

i {
  color: #93BA65;
}

/* ABOUT ME SECTION  */
.aboutMe {
  width: 90%;
  margin: auto;
  margin-top: 200px;
}

.aboutMe hr {
  width: 100px;
  border: 1px solid black;
  margin-bottom: 70px;
}

img.photoOfMe {
  display: block;
  margin: 25px auto 45px;
  width: 50%;
  height: 400px;
}

.aboutMe button{
  margin-top: 20px;
}

/* MY WORK SECTION */
.myWork {
  margin: 20px auto;
  width: 90%;
}

.myWork h1 {
  margin-top: 90px;
}

.myWork hr {
  width: 20%;
  border: 1px solid black;
  margin-bottom: 90px;
}

.myWork img {
  display: block;
  margin: 25px auto;
  width: 50%;
  height: auto;
  transition: 1s
}

.myWork li:hover {
  box-shadow: 0 0 18px gray
}

.myWork ul li {
  list-style-type: none;
  transition: .5s;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

/* CONTACT ME SECTION */
.contact {
  width: 80%;
  margin: 20px auto;
}

.contact h1 {
  margin-top: 60px;
}

.contact hr {
  width: 20%;
  border: 1px solid black;
  margin-bottom: 90px;
}

.contact form input:nth-child(1), .contact form input:nth-child(2) {
  width: 45%;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px 0;
}

.contact form input:nth-child(2) {
  margin-left: 30px;
}

.contact form input:nth-child(3) {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px 0;
}

.contact form input:nth-child(4) {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px 0;
}

.contact button {
  width: 40%;
  border-radius: 20px;
  background-color: #93BA65;
  color: white;
  padding: 10px 5px;
  transition: .5s;
  margin: 25px 0;
}

.contact button:hover{
  background-color: #51633c;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px 0;
}

/* footer */
footer {
  width: 100%;
  margin: auto;
  background-color: black;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

footer ul li {
  list-style-type: none;
}

footer i {
  color: white;
  transition: .5s;
  padding: 20px;
}

footer li:hover {
  color: #93BA65;
  animation: bounce2 .2s infinite alternate;
}

footer i:hover {
  color: #93BA65;
}

@keyframes bounce2 {
  to {
    transform: translateY(-5px);
  }

  from {
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 650px) {
  .mainSection div.layer button:nth-child(4) {
  display: none;
  }

  .mainSection div.layer button:nth-child(3) {
    width: 30%;
    margin-left: 0px;
  }

  /* .mainSection {
    width: 80%;
    margin: 250px auto;

  }
  .mainSection h1{
    font-size: 4em;
    text-align: left;
  }

  .mainSection p{
    text-align: left;

  }

.mainSection {
  text-align: left;
} */

.mainSection i{
  text-align: center;
}
.floatingIcon {
  width: 100%;
  text-align: center;
}
.aboutMe img{
  float: right;
  margin-top: auto;
  width: 40%;
}

.myWork h1{
  margin-top: 400px;
}
.aboutMe p {
  padding-top: 40px;
}
.aboutMe img{
  margin-left: 40px;
}
.myWork, .aboutMe{
 width: 70%;
}
.contact button {
  width: 25%;

}
}

@media only screen and (min-width: 995px) {
  .mainSection div.layer button:nth-child(3) {
    width: 20%;
    margin-left: 40px;
  }
 .contact {
   width: 70%;
   margin: 0 auto;
 }
 .myWork ul{
   display: flex;
 }
 .myWork, .aboutMe{
  width: 70%;
}



 .myWork ul li{
   padding: 0;

 }
 .aboutMe img{
   width: 200px;

 }

 .aboutMe p {
   padding-top: 80px;
   margin-right: 300px;
 }
.contact {
  margin-top: 200px;
}

.myWork {
  margin-top: 300px;
}
}





/* bootstrap editions */
